<!-- Super Properties -->
<fieldset ng-if="hasObjectResource('rdf:type', 'rdf:Property') || hasObjectResource('rdf:type', 'owl:ObjectProperty') || hasObjectResource('rdf:type', 'owl:DataProperty')">
	<legend>
		<strong>Are there direct super properties of <code>{{about}}</code> ?</strong>
		<span ng-if="hasObjectResource('rdf:type', 'owl:ObjectProperty')">- <a href="http://www.w3.org/TR/owl2-syntax/#Object_Subproperties" target="_blank">[?]</a></span>
		<span ng-if="hasObjectResource('rdf:type', 'owl:DataProperty')">- <a href="http://www.w3.org/TR/owl2-syntax/#Data_Subproperties" target="_blank">[?]</a></span>
	</legend>
	<vre-object-properties ppname="rdfs:subPropertyOf"></vre-object-properties>
	<p>
		<em>if <code>{{about}} rdfs:subPropertyOf ex:p</code>, and <code>ex:a {{about}} ex:b</code>, then <code>ex:a ex:p ex:b</code></em> 
	</p>
</fieldset>

<!-- Property Domain -->
<fieldset ng-if="hasObjectResource('rdf:type', 'rdf:Property') || hasObjectResource('rdf:type', 'owl:ObjectProperty') || hasObjectResource('rdf:type', 'owl:DataProperty')">
<legend>
	<strong>Are there known domains of <code>{{about}}</code> ?</strong>
	<span ng-if="hasObjectResource('rdf:type', 'owl:ObjectProperty')">- <a href="http://www.w3.org/TR/owl2-syntax/#Object_Property_Domain" target="_blank">[?]</a></span>
	<span ng-if="hasObjectResource('rdf:type', 'owl:DataProperty')">- <a href="http://www.w3.org/TR/owl2-syntax/#Data_Property_Domain" target="_blank">[?]</a></span>
</legend>
	<vre-object-classes ppname="rdfs:domain"></vre-object-classes>
	<p>
		<em>if <code>{{about}} rdfs:domain ex:A</code> and <code>ex:a {{about}} ex:b</code>, then <code>ex:a</code> is of type <code>ex:A</code></em>
	</p>
</fieldset>

<!-- Object Property Range -->
<fieldset>
<legend>
	<strong>Are there known ranges of <code>{{about}}</code> ?</strong>
	- <a href="http://www.w3.org/TR/owl2-syntax/#Object_Property_Range" target="_blank">[?]</a>
</legend>
	<span ng-if="!hasObjectResource('rdf:type', 'owl:ObjectProperty') && !hasObjectResource('rdf:type', 'owl:DataProperty')"><vre-object-resources ppname="rdfs:range"></vre-object-resources></span>
	<span ng-if="hasObjectResource('rdf:type', 'owl:ObjectProperty') && !hasObjectResource('rdf:type', 'owl:DataProperty')"><vre-object-classes ppname="rdfs:range"></vre-object-classes></span>
	<span ng-if="!hasObjectResource('rdf:type', 'owl:ObjectProperty') && hasObjectResource('rdf:type', 'owl:DataProperty')"><vre-object-data-types ppname="rdfs:range"></vre-object-data-types></span>
	<p>
		<em>if <code>{{about}} rdfs:range ex:B</code> and <code>ex:a {{about}} ex:b</code>, then <code>ex:b</code> is of type <code>ex:B</code></em>
	</p>
</fieldset>


<!-- Inverse Object Properties -->
<fieldset ng-if="hasObjectResource('rdf:type', 'owl:ObjectProperty')">
<legend>
	<strong>Are there known inverse properties of <code>{{about}}</code> ?</strong>
	- <a href="http://www.w3.org/TR/owl2-syntax/#Inverse_Object_Properties_2" target="_blank">[?]</a>
</legend>
	<vre-object-object-properties ppname="owl:inverseOf"></vre-object-object-properties>
	<p>
		<em>if <code>{{about}} owl:inverseOf ex:p</code>, then <code>ex:a {{about}} ex:b</code> if and only if <code>ex:b ex:p ex:a</code></em>
	</p>
</fieldset>

<!-- Mathematical properties -->
<fieldset ng-if="hasObjectResource('rdf:type', 'owl:ObjectProperty') || hasObjectResource('rdf:type', 'owl:DataProperty')">
<legend><strong>Mathematical properties of {{about}}</strong></legend>
	<p>
		<vre-checkbox ppname="rdf:type" opname="owl:FunctionalProperty"></vre-checkbox> This property is functional
		<span ng-if="hasObjectResource('rdf:type', 'owl:ObjectProperty')">- <a href="http://www.w3.org/TR/owl2-syntax/#Functional_Object_Properties" target="_blank">[?]</a></span>
		<span ng-if="hasObjectResource('rdf:type', 'owl:DataProperty')">- <a href="http://www.w3.org/TR/owl2-syntax/#Functional_Data_Properties" target="_blank">[?]</a></span>
		- <em>if <code>x {{about}} y<sub>1</sub></code>; and <code>x {{about}} y<sub>2</sub></code>, then <code>y<sub>1</sub>=y<sub>2</sub></code></em>
	</p>
	<p ng-if="hasObjectResource('rdf:type', 'owl:ObjectProperty')">
		<vre-checkbox ppname="rdf:type" opname="owl:InverseFunctionalProperty"></vre-checkbox> This property is inverse-functional
		- <a href="http://www.w3.org/TR/owl2-syntax/#Inverse-Functional_Object_Properties" target="_blank">[?]</a> 
		- <em>if <code>x<sub>1</sub> {{about}} y</code> and <code>x<sub>2</sub> {{about}} y</code>, then <code>x<sub>1</sub>=x<sub>2</sub></code></em>
		- example: <code>ex:fatherOf</code>
	</p>
</fieldset>

