<fieldset>
	<legend>
		<strong>What kind of resource is <code>{{about}}</code> ?</strong>
	</legend>

	<p ng-if="isAClass"><strong>The fragment of the URI begins with an upper-case letter. By convention, it SHOULD be a class.</strong></p>
	<p ng-if="!isAClass"><strong>The fragment of the URI begins with a lower-case letter. By convention, it SHOULD be a property or an individual.</strong></p>

	<p>
		<input type="checkbox" ng-checked="isClass()" ng-click="toggleClass()"/> This resource is a class.
		- <a href="http://www.w3.org/TR/owl2-syntax/#Classes" target="_blank">[?]</a>
	</p>
	<p>
		<input type="checkbox" ng-checked="hasObjectResource('rdf:type', 'rdf:Property') || hasObjectResource('rdf:type', 'owl:ObjectProperty') || hasObjectResource('rdf:type', 'owl:DataProperty')" ng-click="toggleObjectResource('rdf:type', 'rdf:Property')"/> This resource is a property<span ng-if="!hasObjectResource('rdf:type', 'rdf:Property')">.</span>
		<span ng-if="hasObjectResource('rdf:type', 'rdf:Property') || hasObjectResource('rdf:type', 'owl:ObjectProperty') || hasObjectResource('rdf:type', 'owl:DataProperty')"> that links individuals to
			<span><input type="radio" ng-model="pType" ng-change="setPropertyType(pType)" value="object"/> other individuals  </span>
			<span><input type="radio" ng-model="pType" ng-change="setPropertyType(pType)" value="data"/> simple values (boolean, date, number, text,...)</span> ?
		</span>
	</p>
</fieldset>


<fieldset>
	<legend>
		<strong>Provide human-readable names for <code>{{about}}</code></strong>
		- <a href="http://www.w3.org/TR/rdf-schema/#ch_label" target="_blank">[?]</a>
	</legend>
	<vre-lang-strings ppname="rdfs:label"></vre-lang-strings>
</fieldset>

<fieldset>
	<legend>
		<strong>Provide human-readable descriptions for <code>{{about}}</code></strong>
		- <a href="http://www.w3.org/TR/rdf-schema/#ch_comment" target="_blank">[?]</a>
	</legend>
	<vre-lang-string-areas ppname="rdfs:comment"></vre-lang-string-areas>
</fieldset>

<fieldset ng-controller="VreVSTermStatus">
	<legend>
		<strong>term status</strong>
		- <em>the status of a vocabulary term, expressed as a short symbolic string; known values include 'unstable','testing', 'stable' and 'archaic'</em>
	</legend>
	<div ng-if="!hasProperty('vs:term_status')"><a ng-click="addStatus()">[add term status]</a></div>
	<div ng-if="hasProperty('vs:term_status')">
		<span><input type="radio" ng-model="termStatus['@value']" value="unstable"/>Unstable</span>
		<span><input type="radio" ng-model="termStatus['@value']" value="testing"/>Testing</span>
		<span><input type="radio" ng-model="termStatus['@value']" value="stable"/>Stable</span>
		<span><input type="radio" ng-model="termStatus['@value']" value="archaic"/>Archaic</span>
	</div>
</fieldset>

<fieldset ng-controller="VreVSMoreinfo">
	<legend>
		<strong>moreinfo</strong>
		- <em>Describe here your understanding of the term, at the attention of knowledge engineers.</em>
	</legend>
	<div ng-if="!hasProperty('vs:moreinfos')"><a ng-click="addInfos()">[add term infos]</a></div>
	<div ng-if="hasProperty('vs:moreinfos')"><textarea rows="7" cols="30" ng-model="moreinfos['@value']"></textarea></div>
</fieldset>


<!-- 	<strong><input type="checkbox" ng-checked="hasObjectResource('rdf:type', 'owl:ObjectProperty')" ng-click="toggleObjectResource('rdf:type', 'owl:ObjectProperty')"/> 
		<strong><input type="checkbox" ng-checked="hasObjectResource('rdf:type', 'owl:DataProperty')" ng-click="toggleObjectResource('rdf:type', 'owl:DataProperty')"/>
 -->

<div ng-if="isClass()" ng-include="'extensions/LinkedVocabularyEditor/web/linked-resource-editor/templates/simple-mode/class.html'"></div>

<div ng-if="hasObjectResource('rdf:type', 'rdf:Property') || hasObjectResource('rdf:type', 'owl:ObjectProperty') || hasObjectResource('rdf:type', 'owl:DataProperty')"
 ng-include="'extensions/LinkedVocabularyEditor/web/linked-resource-editor/templates/simple-mode/property.html'"></div>
